# Referenced: https://github.com/GoogleCloudPlatform/cpp-samples/blob/main/speech/api/.clang-tidy
# If you want to set the checklist more carefully,
# refer to The list of clang-tidy checks (https://clang.llvm.org/extra/clang-tidy/checks/list.html).

Checks: >
    -*,
    bugprone-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    google-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,

    # --- Checks disabled for general-purpose template ---
    # These checks are useful but can be too restrictive for a general template.
    # They can be enabled on a per-project basis if needed.

    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-special-member-functions,
    -misc-use-internal-linkage,
    -misc-non-private-member-variables-in-classes,
    -misc-no-recursion,
    -modernize-use-trailing-return-type,
    -modernize-use-equals-default,
    -readability-convert-member-functions-to-static

# Turn all the warnings from the checks above into errors.
WarningsAsErrors: "*"

# Common C++ file extensions
ImplementationFileExtensions: ["c", "cc", "cpp", "cxx"]
HeaderFileExtensions: ["h", "hpp", "hxx"]
HeaderFilterRegex: ".*"

CheckOptions:
    - { key: readability-identifier-naming.ClassCase, value: CamelCase }
    - { key: readability-identifier-naming.StructCase, value: CamelCase }
    - { key: readability-identifier-naming.EnumCase, value: CamelCase }
    - { key: readability-identifier-naming.EnumConstantCase, value: kCamelCase }
    - {
          key: readability-identifier-naming.TemplateParameterCase,
          value: CamelCase,
      }
    - { key: readability-identifier-naming.FunctionCase, value: camelBack }
    - {
          key: readability-identifier-naming.GlobalConstantCase,
          value: kCamelCase,
      }
    - {
          key: readability-identifier-naming.GlobalVariableCase,
          value: snake_case_,
      }
    - { key: readability-identifier-naming.MemberCase, value: snake_case_ }
    - { key: readability-identifier-naming.ParameterCase, value: snake_case }
    - { key: readability-identifier-naming.VariableCase, value: snake_case }
    - {
          key: performance-move-const-arg.CheckTriviallyCopyableMove,
          value: "false",
      }
